<html>
<center>
   <h1> {{ ansible_hostname }} was deployed as webserver successfully.</h1>
   <h3> It is running on {{ ansible_os_family}}system </h3>
   </br>
   <h4>Configured by Ansible.</h4>
   <h>Alvaro Gonzalez - alvaro.gonzalezardon@atos.net</h>
</center>
</html>

